@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background: rgb(255, 255, 255);   
}

.container {
    height: 100vh;
    width: 375px; 
    background-color: white;
}

img {
    width: 100%;
}

.intro {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    
}

h1 {
    font-family: "Young Serif", serif;
    font-size: 2.4em;
    font-weight: 400;  
    margin-bottom: 5px;
    margin-top: 30px;
    
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 400;
    
    
}

#preparation {
    color: hsl(332, 51%, 32%); 
    text-align: left;
}

.time {
    background: hsl(330, 100%, 98%);   
    font-family: "Outfit", sans-serif;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    flex-flow: wrap;
    padding-left: 10px;
    font-size: 16px;
}

h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    
}

.ingredients {
    background-color: hsl(36, 15%, 94%);
    font-family: "Outfit", sans-serif;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-items: center;
    align-items: start;
    flex-flow: column wrap;
    padding-left: 10px;
    text-align: left;
}

.instructions {
    background-color: hsl(36, 15%, 94%);
    font-family: "Outfit", sans-serif;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-items: center;
    align-items: start;
    padding-left: 10px;
    flex-flow: column wrap;
}

li {
    padding: 5px;
    
}

.nutrition {
    background-color: hsl(36, 15%, 94%);
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    padding-left: 10px;
    

}